@font-face {
    font-family: 'Mclaren';
    src: url(/Asset/fonts/McLaren-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat' ;
    src: url(/Asset/fonts/Montserrat-Regular.ttf);
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    font-size: 2rem;
    font-family: Montserrat;
}
.flux{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
/* Start header */
.header{
    width: 100%;
    height: 6rem;
    background-color: #003049;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    font-family: Mclaren;
    color: white;
    margin-left: 1rem;
    width: 40%;
}
.header_nav{
    font-family: Montserrat;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.header_list{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
/* end header */

li a{
    color: white;
}
li a:hover{
    color: red;
}
/* START main */

.hero_title{
    font-size: 3.5rem;
    font-family: Mclaren;
    color: white;
}

h3{
    text-align: center;
    text-decoration: underline;
    color: #ef233c;
    font-size: 2.7rem;
    font-family: Montserrat, sans-serif;
    padding: 1rem;
}
.hero{
    width: 100%;
    height: 60rem;
    text-align: center;
    padding: 2rem;
    background-image: url(/Asset/images/lregions2.jpg);
    background-size: cover;
    background-color: #0005;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: bottom;
}
.hero_texte{
    display: flex;
    align-items: center;
    text-align: center;
}
.hero-bienvenue{
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}
p{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 3rem;
}

/* START GRID */
.game-board {
    display: grid;
    justify-content: center;
    gap: 3.8rem;
    grid-template-rows: 26rem 26rem 26rem;
    grid-template-columns: 30rem 30rem 30rem;
    padding: 2rem;
}
img{
  width:30rem;
  height: 26rem;
  border-radius: 1rem;
  object-fit: cover;
  position: relative;
  filter: brightness(85%);
}
h4{
  position: absolute;
}

 /* css style */

.box {
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 1rem;
  text-align: center;
  transition: transform 400ms;
  transition: all 500ms ease-out;
  filter: saturate(0);
}
.box:hover{
  transform: scale(1.15);
  box-shadow: 1rem  0.5rem 0.5rem gray;
  filter: saturate(1);
}
/* END GRID */

/*FOOTER*/
.footer{
    width: 100%;
    height: 6rem;
    background-color: #1E4659;
    color: white;
    font-family: Mclaren;
    display: flex;
    flex-direction: row;;
    align-items: center;
    justify-content: space-around;
}
.footer_list{
display: flex;
gap: 3rem;
}

@media (max-width: 767px) {
    .game-board {
      grid-template-columns: 30rem;
      display: grid;
      justify-content: center;
    }
    .box{
        filter: saturate(1);
        width: 100%;
    }
    .box:hover{
        transform: none;
        box-shadow: none;
    }
    .logo{
        width: 80%;
    }
    .header_nav{
        display: none;
    }
  }